<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agric</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
 <nav id="nav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><i class="material-icons">add_shopping_cart</i></li>
        <li><a href="mobile.html">login</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>